<h1>Please login</h1>

<% form_tag do -%>
 
  <table width="100%" cellspacing="0" cellpadding="0">
    <tr class="account_item">
      <td>Username: </td>
      <td><%= text_field_tag "username", "", { :size => 35 } %></td>
    </tr>

    <tr>
      <td>Password: </td>
      <td><%= password_field_tag "password", "", { :size => 35 } %></td>
    </tr>

    <tr>
      <td>&nbsp;</td>
      <td><br /><%= check_box_tag "remember_me" %> Stay signed in on this computer</td>
    </tr>

    <tr>
      <td>&nbsp;</td>
      <td><br /><%= submit_tag "Sign in" %></td>
    </tr>
  </table>

<% end %>
