<h1>Listing users</h1>

<table cellpadding="3">
  <tr>
    <th align="left">User</th>
    <th align="left">Full name</th>
    <th align="left">Role</th>
  </tr>

<% link_action = @me.can_edit_user? ? 'edit' : 'show' %>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.username, 
                    :instance => params[:instance],
                    :organism => params[:organism],
                    :action => link_action,
                    :id => user %></td>

    <td><%= user.full_name %></td>
    <td><%= user.role %></td>
  </tr>
<% end %>
</table>

<br />

<% if @me.can_create_user? %>

<%= link_to 'New user', :instance => params[:instance], :organism => params[:organism], :action => 'new' %>

<% end %>
