<h1>Listing tag_mappings</h1>

<table>
  <tr>
  </tr>

<% @tag_mappings.each do |tag_mapping| %>
  <tr>
    <td><%= link_to 'Show', tag_mapping %></td>
    <td><%= link_to 'Edit', edit_tag_mapping_path(tag_mapping) %></td>
    <td><%= link_to 'Destroy', tag_mapping, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New tag_mapping', new_tag_mapping_path %>