<h1>Editing tag_to_contig</h1>

<% form_for(@tag_to_contig) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @tag_to_contig %> |
<%= link_to 'Back', tag_to_contigs_path %>